<ion-header >

  <ion-navbar class="theme-background" *ngIf="event">
  	<img class="header-banner" src="{{event.bannerUrl}}">
  </ion-navbar>



  <ion-navbar class="theme-background default" *ngIf="!event">
  	<img class="header-logo" src="assets/imgs/cce_logo.png">
    <ion-title>Congress & Events</ion-title>
  </ion-navbar>

</ion-header>

<ion-tabs tabsPlacement="bottom" selectedIndex="1">
  <ion-tab  tabTitle="Back" tabIcon="arrow-round-back" (ionSelect)="back()"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Information" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Favourites" tabIcon="md-star"></ion-tab>
  
</ion-tabs>