page-venue {
	.venue-container{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
	}
	.venue-container>img{
		width: 100%;
		max-width: 800px;
	}
	.manila-hotel-header{
		position: absolute;
		top: 60px;

	}
}
