page-day-schedule {
	.time{
    padding-top: 3px;
		margin-bottom: 10px;
	}

	.day-sched{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.sched-info{
		width: 70%;
		white-space: normal;
	}
	.fav-btn{

	}
}
