	.flex-center-column{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	.header-banner{
		max-height: 100px;
	}

	.back-button.bar-button{
		display: none;
	}