page-sponsors {
	.sponsor-header{
		width: 100%;
		max-height: 70px;
		display: block;
	}
	.sponsor-icon{
		max-height: 70px;
		max-width: 70px;
	}

	.sponsor-row{
		display: flex;
		align-items: center;
		justify-content: space-around;
	}

	.sponsor-row-minor{
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	.sponsor-minor{
		margin-bottom: 50px;
	}

	.sponsor-row{
		padding: 20px;
	}

}
