<ion-content >
<div class="page-header">
	<img src="assets/imgs/handshake2.png">
	<h5>Sponsors</h5>
</div>

<div padding>
	<img src="assets/imgs/sponsor_platinum_header.png" class="sponsor-header">
	<div class="sponsor-row">
	<img src="{{sponsor.imageUrl}}" class="sponsor-icon" *ngFor="let sponsor of sponsors.platinum" (click)="showSponsorPopover(sponsor.name)">
	</div>
	<img src="assets/imgs/sponsor_gold_header.png" class="sponsor-header">
	<div class="sponsor-row">
	<img src="{{sponsor.imageUrl}}" class="sponsor-icon" *ngFor="let sponsor of sponsors.gold" (click)="showSponsorPopover(sponsor.name)">
	</div>
	<img src="assets/imgs/sponsor_silver_header.png" class="sponsor-header">
	<div class="sponsor-row">
	<img src="{{sponsor.imageUrl}}" class="sponsor-icon" *ngFor="let sponsor of sponsors.silver" (click)="showSponsorPopover(sponsor.name)">
	</div>
	<img src="assets/imgs/sponsor_bronze_header.png" class="sponsor-header">
	<div class="sponsor-row">
	<img src="{{sponsor.imageUrl}}" class="sponsor-icon" *ngFor="let sponsor of sponsors.bronze" (click)="showSponsorPopover(sponsor.name)">
	</div>
		<img src="assets/imgs/sponsor_minor_header.png" class="sponsor-header">
	<div class="sponsor-minor-row" padding>
		<div class="sponsor-minor" *ngFor="let sponsor of sponsors.minor" >
			<h5><b>{{sponsor.name}}</b></h5>
			<h5>{{sponsor.address}}</h5>
			<h5 *ngIf="sponsor.contactNo">{{sponsor.contactNo}}</h5>
			<h5 *ngIf="sponsor.telefax">{{sponsor.teleFax}}</h5>
			<h5 *ngIf="sponsor.mobile">{{sponsor.mobile}}</h5>
		</div>
	</div>
</div>
</ion-content>
