page-clinical-encounter {
	.content.content-ios{
		margin-top: 34px;
	}

	.time-row{
		display: flex;
		justify-content: space-around;
		align-items: center;
		background: #5f5f5f;
		color: #fff;
	}

	.schedule-contents{
		display: flex;
		overflow: hidden;
		position: relative;
	}

	.topic{
		width: 70%;
		display: inline-flex;
    vertical-align: middle;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-right: 1px solid #000;
    white-space: normal;
    padding-top: 4px;
	}
	.room{    
		width: 30%;
		display: inline-flex;
    vertical-align: middle;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
	}

	.content-range h5, .content-range h6{
		text-align: center;
	  white-space: normal;
	}

	.content-range h2{
		font-size: 20px;
		text-align: center;
	}
	.content-range ion-item{
		width: 100%;
		border-bottom: 1px solid #dedede;
		/*display: flex;*/
		/*justify-content: space-between;*/
	}

	.content-range .label{
		height: 100%;

	}
	.content-range{
		width: 100vw;
	}

	ion-icon{
		width: 30px;
		text-align: center;
	}

	ion-content .scroll-content{
		padding: 0 !important;
	}

	.line{
		width: 1px;
    height: 1000vh;
    background: #000;
    position: absolute;
    right: 40%;
    z-index: 99;
	}

	.options-list{
	}
}
